.wrapper {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 3rem);
  grid-template-rows: repeat(9, 3rem);
  gap: 0;
}

.rowButtons {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
}

.rowButton {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.25rem;
  color: black;
  cursor: pointer;
}

.columnButton {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.25rem;
  color: black;
  cursor: pointer;
}

