.cell {
  border: 1px solid teal;
  width: 100px;
  height: 100px;
  text-align: center;

  .selected {
    background-color: powderblue;
  }

  p {
    color: grey;
  }

  h4 {
    color: darkblue;
  }
}